.input {
    box-sizing: border-box;
    border: 1px solid #FFCD04;
    border-radius: 4px;
    height: 100%;
    padding: 20px;
    width: 66.25%;
    font-size: 22px;
}
.input:focus {
    outline: none;
}